@inject NavigationManager NavigationManager

<button @onclick="@GoToHome"
    class="btn btn-outline-primary home-button"
>
    <i class="oi oi-globe"></i>&nbsp;My Shop
</button>

@code {
    private void GoToHome(MouseEventArgs args)
    {
        NavigationManager.NavigateTo("/");
    }
}
